**/.vscode/**
**/.idea/**
**/.ipynb_checkpoints/**
**/tfidf_netflix.dill
**/*.pyc
**/NLP/models/**
**/NLP/datasets/**
**/NLP/train/models/**
**/NLP/train/datasets/**
**/NLP/models_copy/**
**/NLP/role_play_realm_ru/**
**/*.zip
**/*.csv
**/*.parquet
**/NLP/train_dataset.txt
**/NLP/test_dataset.txt
